body{
  background-color: #eaf6f6;

}

hr{
  border-style: dotted none none none;
  width: 10%;
  border-width: 9px 0 0 0;
  border-color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
h1,h3{
  color: #66bfbf;
}
